name: Telemetry Dashboard CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  verify-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install Backend
      # We are already in the root, so we just go into server
      run: |
        cd server
        npm install

    - name: Install Frontend
      # We are already in the root, so we just go into client
      run: |
        cd client
        npm install